#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #9BF3F0;
}

header {
    background-color: #daffed;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    z-index: -1;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #052555;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #8d8787;
    max-height: 20px;
    color: white;
    border-radius: 5px;
}

/*Add a color to the current link*/
nav a.active {
    background-color: #bfd7db;
    color: white;
    max-height: 20px;
    border-radius: 5px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-msg {
    margin-top: 0;
    width: 100%;
}

#hero-img {
    max-width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    max-height: 30px;
    color: white;
}

#hero-msg h4{
    color: white;
    align-self: center;

}

#hero-msg h1{
    margin-top: 120px;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.furniture-card, .wiring-card, .electrical-card {
    grid-row: 2/3;
}
.furniture-card {
    grid-column: 2/4;
}

.wiring-card {
    grid-column: 5/7;
}

.electrical-card {
    grid-column: 8/10;
}

.card-img {
    width: 100%;
    border: 10px solid #E2E0EB;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    transform: scale(1.1);
}
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #9BF3F0;
    grid-column: 1/11;
    grid-row:4/9;
}

.worker {
    width: 100%;
    height: 500px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.book, .join {
    background-color: rgb(196, 196, 243);
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #bfd7db;
}

.home-title {
    color: #fcfbfb;
}

.msg {
    background-color: #9BF3F0;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}



footer {
    background-color: #9BF3F0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid white;
}

footer a {
    color: #3d3db6;
    text-decoration: none;
}

footer a:hover {
    color: #eeadad;
}

footer h3 {
    color: #ffff;
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    nav a.active {
        background-color: #bfd7db;
        color: white;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .furniture-card, .wiring-card, .electrical-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .worker, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/*SERVICES CSS DESIGN*/

#service-msg {
    margin-top: -20px;
    text-align: center;
    height: -50px;
    color: #3f3fdae3;
    margin-left: 600px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.service-right-img {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    border: 5px solid #E2E0EB;
}
.service-headline1 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #E2E0EB;
    max-height: 40px;
    text-align: center;

}

.service-paragraph1 {
    grid-column: 2/4;
    margin-top: -450px;
    text-align: justify;
    font-size: 20px;
}

.service-headline2 {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #E2E0EB;
    max-height: 40px;
    max-width: 80%;
    text-align: center;
}

.service-left-img {
    grid-column: 2/4;
    grid-row: 1/2;
    max-width: 50%;
    margin-left: 350px;
    border: 5px solid #E2E0EB;
}

.service-paragraph2{
    grid-column: 1/3;
    margin-top: -450px;
    text-align: justify;
    font-size: 20px;
    max-width: 780px;
}

.service-paragraph3 {
    grid-column: 2/4;
    text-align: justify;
    font-size: 20px;
    margin-left: 50px;
}

.service-paragraph3 h2 {
    background-color: #E2E0EB;
    max-height: 40px;
}

.service-img3 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: -500px;
    max-width: 50%;
    margin-top: -300px;
    border: 5px solid #E2E0EB;
}

/*CONTACT US CSS*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #daffda;
  }
  body {
      background-color: #9BF3F0;
  }
  #hero {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      margin-top: -100px;
  }
  
  #hero-box {
      grid-column: 1/4;
      grid-row: 1/3;
      z-index: -1;
  }
  
  #hero-img {
      max-width: 100%;
  }
  
  
  #hero-msg {
      grid-column: 2/3;
      grid-row: 1/3;
      margin-top: 100px;
      max-height: 30px;
  }
  
  #hero-msg h4 {
      color: white;
      align-self: center;
  }
  
  #hero-msg h1 {
      margin-top: 120px;
      color: white;
      text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 50px;
    margin-top: 250px;
  }
  
  .contactustitle {
    color: #251f1f;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .hourstitle {
    color: #251f1f;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hours {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 100px;
  }
  
  .locationtitle {
    color: #251f1f;
    grid-column: 1/2;
    grid-row: 3/4;
    
  }
  .location {
    grid-column: 1/2;
    margin-left: 100px;
  }
  .contact {
    grid-column: 3/4;
    text-align: justify;
    margin-top: -30px;
  }

  .contactusimg {
    grid-column: 3/4;
    grid-row: 1/3;
    max-width: 433.33px;
  }
  
  form {
      margin-top: -300px;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;       
  }
  .moveDown {
      margin-top: 3em;
  }